.darkModeBtn{
    width: 100px;
    height: 100px;
}

.sunBtn{
    background-image: url("../../public/logos/C_logo.svg");
}

.moonBtn{
    background-image: url("../../public/logos/Java_logo.svg");
}