@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    overflow: hidden;
}

.scroll-smooth{
    scroll-behavior: smooth;
}

.shadow_around{
    box-shadow: 0px 0px 16px black;
}

@layer utilities {
    @variant dark{
        .dashline-white:after{
            border-bottom: 1px solid white;
        }
    }
}

/* double styling by flex and positon because viewheight is too inconsistent */
#header{
    flex: 0 0 auto;
    height: 4em;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.center{
    flex: 1 1 0;
    position: fixed;
    max-height: 100%;
    overflow-y: hidden;
    padding-top: 4em;
    padding-bottom: 4em;
    left: 0;
    right: 0;
}

#footer{
    flex: 0 0 auto;
    height: 4em;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

#main-middle{
    max-height: calc(100% - 8em);
}