@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    overflow: hidden;
}

.scroll-smooth{
    scroll-behavior: smooth;
}

.shadow_around{
    box-shadow: 0px 0px 16px black;
}


/* both Header and Footer are h-16(4em)*/
.content-height{
    height: calc(100vh - 8em);
}

